.download-container {
  padding: 20px;
}

.download-header {
  margin-bottom: 20px;
}

.download-buttons {
  margin-bottom: 20px;
  display: flex;
  gap: 10px;
}

.download-button,
.dropdown-button {
  padding: 10px 20px;
  cursor: pointer;
}

.dropdown {
  position: relative;
}

.dropdown-content {
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  border: 1px solid #ccc;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  max-height: 150px; /* Set max height */
  overflow-y: auto; /* Enable vertical scrolling */
}

.dropdown-item {
  padding: 10px;
  display: flex;
  align-items: center;
}

.dropdown-item input {
  margin-right: 10px;
}

.toggle-filter-button {
  margin-top: 10px;
  padding: 10px 20px;
  cursor: pointer;
}
